<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Cotação média do Ethereum nas exchanges brasileiras com par BRL"/>
        <meta name="author" content="vitorgamer58"/>
        <meta name="rating" content="general"/>
        <title>Cotação Média do ETH</title>
        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="print"/>
        <link rel="shortcut icon" href="img/favicon.png">

        <!-- Social: Facebook / Open Graph -->
        <meta property="og:url" content="https://bitcaoarbitrado.000webhostapp.com/cotacao-eth/"/>
        <meta property="og:type" content="page"/>
        <meta property="og:title" content="Cotação do Bitcao"/>
        <meta property="og:image" content="https://bitcaoarbitrado.000webhostapp.com/cotacao-eth/img/img.png"/>
        <meta property="og:description" content="Cotação do ETH nas exchanges e média ponderada pelo volume"/>
    </head>


